@model IEnumerable<HarmonyHotles.Models.Amenity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Amenities</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amenityname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amenitytype)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amenityname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amenitytype)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Amenityid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Amenityid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Amenityid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
