@model HarmonyHotles.Models.Room

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Roomnumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Roomnumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isavailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isavailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bedtype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bedtype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel.Hotelid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Roomtype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Roomtype.Roomtypeid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Roomid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
