@model HarmonyHotles.Models.Room

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Roomnumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Roomnumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isavailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isavailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bedtype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bedtype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Roomtype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Roomtype.Typename)
        </dd>
    </dl>
</div>

div>
<h3>Images</h3>
@if (Model.Images != null && Model.Images.Count > 0)
{
    <div id="roomtypeImagesCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @{
                bool isFirst = true;
            }
            @foreach (var image in Model.Images)
            {
                <div class="carousel-item @(isFirst ? "active" : "")">
                    <img src="@Url.Content(image.Imagepath)" class="d-block w-100" alt="Roomtype Image" asp-append-version="true" style="height: 400px; object-fit: cover;" />
                </div>
                isFirst = false;
            }
        </div>
        <a class="carousel-control-prev" href="#roomtypeImagesCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#roomtypeImagesCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
}
else
{
    <p>No images available for this room.</p>
}
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Roomid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
