@model IEnumerable<HarmonyHotles.Models.Room>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Roomnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isavailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bedtype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roomtype)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Roomnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isavailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bedtype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roomtype.Typename)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Roomid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Roomid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Roomid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
