@model IEnumerable<HarmonyHotles.Models.City>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Manage City </h1>

<h5>
    <a asp-action="Create">Create New</a>
</h5>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cityname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagepath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cityname)
            </td>
            <td>             
                    <img src=@Url.Content("~/images/cities/"+ item.Imagepath )
                         asp-append-version="true" style="border-radius:15%"
                         width="200" height="200" />
                
            </td>
            <td>
                    @(item.Country != null ? item.Country.Countryname : "No country associated")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Cityid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Cityid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Cityid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
