@model Tuple<IEnumerable<Slider>, IEnumerable<Country>, IEnumerable<City>, IEnumerable<Hotel>, IEnumerable<Event>, IEnumerable<Image>, IEnumerable<Favorite>>

@{
    ViewData["Title"] = "Home Page";
}
@{

    Layout = "~/Views/Shared/_GustLayout.cshtml";
}


   


<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        @foreach (var slider in Model.Item1)
        {
            <div class="single_slider d-flex align-items-center overlay" >
                <img src="@Url.Content("~/images/sliders/" + slider.Imagepath)" alt="@slider.Title" asp-append-version="true" width="100%" height="100%" />
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>@slider.Title</h3>
                                <p>@slider.Description</p>
                                <a href="@slider.Buttonlink" class="boxed-btn3">@slider.Buttontext</a>
                            </div>
                        </div>
                    </div>
                </div>  @* <img src="~/images/sliders/@slider.Imagepath" alt="Slider Image" /> *@
            </div>
        }
    </div>
</div>

<!-- slider_area_end -->
<!-- where_togo_area_start  -->
<div class="where_togo_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="form_area">
                    <h3>Where you want to go?</h3>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="search_wrap">
                    <form class="search_form" asp-action="Search" asp-controller="Home" method="post">
                        <div class="input_field">
                            <input type="text" @* asp-for="Destination" *@ placeholder="Where to go?" />
                        </div>
                        <div class="input_field">
                            <input type="date" @* asp-for="StartDate" *@ id="datepickerStart" placeholder="Date from" />
                        </div>
                        <div class="input_field">
                            <input type="date" @* asp-for="EndDate" *@ id="datepickerEnd" placeholder="Date to" />
                        </div>
                        <div class="search_btn">
                            <button class="boxed-btn4" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- where_togo_area_end  -->
<!-- popular_destination_area_start  -->
<div class="popular_destination_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3> Popular Countries </h3>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var country in Model.Item2)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="@Url.Content("~/images/Countries/" + country.Imagepath)" alt="@country.Countryname" asp-append-version="true">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">
                                @country.Countryname
                                <a asp-controller="Home" asp-action="DisplayCities" asp-route-countryId="@country.Countryid">
                                    <span> (@country.Cities.Count) Cities</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<!-- popular_destination_area_end  -->
<!-- newletter_area_start  -->


<div class="popular_places_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>Popular Events </h3>
                    <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit hella wolf moon beard words.</p>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="row">
                @foreach (var item in Model.Item5)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm" style="border-radius: 15px; overflow: hidden; position: relative;">
                            <!-- صورة الفعالية -->
                            <img src="@Url.Content("~/images/events/" + item.Images.FirstOrDefault()?.Imagepath)" class="card-img-top" alt="@item.Name" style="height: 200px; object-fit: cover;">
                            <!-- أيقونة القلب -->
                            <a asp-action="AddToFavorites" asp-controller="Events" asp-route-id="@item.Eventid" class="position-absolute top-0 end-0 m-2" title="Add to Favorites">
                                <i class="far fa-heart text-danger"></i> <!-- هنا قمنا بتغيير fa-solid إلى far -->
                            </a>

                            <!-- محتوى البطاقة -->
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                <p class="card-text">
                                    <i class="fas fa-map-marker-alt text-primary"></i> @item.City.Cityname
                                </p>
                                <p class="card-text fw-bold">
                                    <i class="fas fa-money-bill-wave text-success"></i> @item.Ticketprice JD
                                </p>
                                <a asp-action="EventDetails" asp-controller="Home" asp-route-id="@item.Eventid" class="btn btn-primary">View Details</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>


        <!-- newletter_area_end  -->


<div class="video_area video_bg overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="video_wrap text-center">
                    <h3>Enjoy Video</h3>
                    <div class="video_icon">
                        <a class="popup-video video_play_button" href="https://www.youtube.com/watch?v=f59dDEk57i0">
                            <i class="fa fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="travel_variation_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_travel text-center">
                    <div class="icon">
                        <img src="~/HomeDesign/img/svg_icon/1.svg" alt="">
                    </div>
                    <h3>Comfortable Journey</h3>
                    <p>A wonderful serenity has taken to the possession of my entire soul.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_travel text-center">
                    <div class="icon">
                        <img src="~/HomeDesign/img/svg_icon/2.svg" alt="">
                    </div>
                    <h3>Luxuries Hotel</h3>
                    <p>A wonderful serenity has taken to the possession of my entire soul.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_travel text-center">
                    <div class="icon">
                        <img src="~/HomeDesign/img/svg_icon/3.svg" alt="">
                    </div>
                    <h3>Travel Guide</h3>
                    <p>A wonderful serenity has taken to the possession of my entire soul.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- testimonial_area  -->
<div class="testimonial_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <div class="author_thumb">
                                        <img src="~/HomeDesign/img/testmonial/author.png" alt="">
                                    </div>
                                    <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering.</p>
                                    <div class="testmonial_author">
                                        <h3>- Micky Mouse</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <div class="author_thumb">
                                        <img src="~/HomeDesign/img/testmonial/author.png" alt="">
                                    </div>
                                    <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering.</p>
                                    <div class="testmonial_author">
                                        <h3>- Tom Mouse</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <div class="author_thumb">
                                        <img src="~/HomeDesign/img/testmonial/author.png" alt="">
                                    </div>
                                    <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering.</p>
                                    <div class="testmonial_author">
                                        <h3>- Jerry Mouse</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /testimonial_area  -->


<div class="recent_trip_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>Recent Trips</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_trip">
                    <div class="thumb">
                        <img src="~/HomeDesign/img/trip/1.png" alt="">
                    </div>
                    <div class="info">
                        <div class="date">
                            <span>Oct 12, 2019</span>
                        </div>
                        <a href="#">
                            <h3>
                                Journeys Are Best Measured In
                                New Friends
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_trip">
                    <div class="thumb">
                        <img src="~/HomeDesign/img/trip/2.png" alt="">
                    </div>
                    <div class="info">
                        <div class="date">
                            <span>Oct 12, 2019</span>
                        </div>
                        <a href="#">
                            <h3>
                                Journeys Are Best Measured In
                                New Friends
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_trip">
                    <div class="thumb">
                        <img src="~/HomeDesign/img/trip/3.png" alt="">
                    </div>
                    <div class="info">
                        <div class="date">
                            <span>Oct 12, 2019</span>
                        </div>
                        <a href="#">
                            <h3>
                                Journeys Are Best Measured In
                                New Friends
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@* <span class="d-flex justify-content-center align-items-center">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <a href="#">(20 Review)</a>
</span> *@