@model HarmonyHotles.Models.Roomtype

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Roomtype</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Typename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Typename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Roomtypesdescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Roomtypesdescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Roomsize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Roomsize)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Roomtypeid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
